# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# Build outputs (if any)
.vercel/
dist/
build/
